### OSX ###
.DS_Store
.AppleDouble
.LSOverride
package-lock.json
bicycleparking/package-lock.json
### SublimeText ###
# cache files for sublime text
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache

# workspace files are user-specific
*.sublime-workspace

# project files should be checked into the repository, unless a significant
# proportion of contributors will probably not be using SublimeText
# *.sublime-project

# sftp configuration file
sftp-config.json

# Basics
*.py[cod]
__pycache__
py36

# Logs
logs
*.log
pip-log.txt
npm-debug.log*

# Unit test / coverage reports
.coverage
.tox
nosetests.xml
htmlcov

# Translations
*.mo
*.pot

# Pycharm
.idea/*


# Vim

*~
*.swp
*.swo

# npm
node_modules/

# Compass
.sass-cache

# virtual environments
.env

# User-uploaded media
bike_parking_toronto/media/
geocoded.xml

# MailHog binary
mailhog


staticfiles/

.cache/

venv/

bicycleparking/static/main.js

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
test/pic/hoggshollow.png
test/pic/queenbathurst.png
test/pic/highpark.png
test/pic/sciencectr.png
test/pic/trinityblwds.png
test/pic/trinityblwds.png
civictechto-bicycle-parking/bicycleparking/static/dist

# ignore files in the dist folder and survey folder
bicycleparking/static/dist/*
bicycleparking/static/survey/*

# but don't ignore the folder
!/bicycleparking/static/dist/.keep

#pipenv (until other people convert)
Pipfile
Pipfile.lock

builds/
