$grid: 10px;
$white: #ffffff;
$orange: #ffb238;
$cream: #fdf7ee;
$light-grey: #ececec;
$dark-grey: #6d676e;

* {
  position: relative;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  line-height: 1.5;
}

.app {
  height: inherit;
  display: flex;
  flex-direction: column;
}

/* Defaults */
h1, h2, h3, h4, h5, h6, p {
  letter-spacing: 2px;
  margin: 0;
}

/* General */
.button{
  padding: $grid calc($grid * 4);
  width: fit-content;
  border-radius: 30px;
  border: none;
  font-size: 18px;
  background-color: $light-grey;
  color: $dark-grey;
  font-weight: 500;

  &--orange {
    background-color: $orange;
    color: $white;
  }
}

/* Render */
#render {
  flex: 1;
  display: flex;
}

/* View */
.View {
  background-color: $orange;
  padding: 20px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &--light {
    background-color: $cream;

    .Step {
      color: $dark-grey;

      &__title {
        color: $orange;
      }
    }
  }
}

/* Map */
#map {
  &.active {
      flex: 2;
  }
}

/*Step*/
.Step {
  position: relative;
  color: $white;

  &__heading {
    margin-bottom: calc(3 * $grid);
  }

  &__title {
    color: $white;
    font-weight: 400;
    margin-bottom: $grid;
  }
}

.centerMe{
  width: 280px;
  position: relative;
  margin:0 auto;
}

/*Splash Page*/
.Splash {
  &__button {
    margin-top: calc(5 * $grid);
  }
}

/* StepOne */
.StepOne {
  margin-top: calc(2 * $grid);
  &__search {
    &__input {
      padding: $grid;
      background-color: $white;
      border: 1px solid $light-grey;
      outline:none;
      border-radius: 30px;
      width: 100%;
      box-sizing: border-box;
      font-size: 18px;
    }

    &__button {
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg);
      position: absolute;
      right: 0;
      top: -10px;
      font-size: 30px;
    }
  }

  &__or-divider {
    position: relative;
    text-align: center;
    color: $dark-grey;

    span {
      background-color: $cream;
      padding: 0 5px;
      z-index: 1;
    }

    &:after {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: $dark-grey;
    }
  }
}

/* StepTwo */

.guess{
  margin-bottom: 5px;
}
