html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
    background-color: #ffb238;
    padding: 5%;
}

h1 {
    color: #FFFFFF;
    font-weight: bold;
}

h2 {
    color: #FFFFFF;
}