{% load staticfiles %}
<html>

<head>
    <title>Toronto Bicycle Parking Dashboard</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!--Let browser know website is optimized for mobile-->
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.43.0/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.43.0/mapbox-gl.css' rel='stylesheet' />
    <link type="text/css" rel="stylesheet" media="screen and (min-aspect-ratio: 1/1)" href="{% static 'css/stylesheet.css' %}" />
    <link type="text/css" rel="stylesheet" media="screen and (max-aspect-ratio: 1/1)" href="{% static 'css/mobilesheet.css' %}" />
    <link type="text/css" rel="stylesheet" href="{% static 'css/leaflet.css' %}" />
    <link type="text/css" rel="stylesheet" href="{% static 'css/leaflet-search.css' %}" />
    <link href="{% static 'css/dashboard.css' %}" rel='stylesheet' />

    <body id="render" class="backbike">
        <header class="report">
            <div class="title">
            </div>
        </header>
        <div class="screen1 visible">
            <div id='map'></div>
        </div>

        <script>
            window.ASSETS_PATH = '{% static images %}'; 
        </script>
        <script src="{% static 'dashboard.js' %}"></script>
    </body>

</html>