{% load staticfiles %}
<html>

<head>
    <meta charset="utf-8">
    <title>BikeSpace - Home</title>
    <!--<link rel="manifest" href="/static/manifest.json">-->

    <link type="text/css" rel="stylesheet" media="screen and (min-aspect-ratio: 1/1)" href="/static/css/stylesheet.css" />
    <link type="text/css" rel="stylesheet" media="screen and (max-aspect-ratio: 1/1)" href="/static/css/mobilesheet.css" />

    <!--favicon-->
    <link rel="icon" type="image/png" href="/static/icons/bikespace32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="/static/icons/bikespace16.png" />

    <!-- META Tags -->
    <meta property="og:title" content="BikeSpace visual prototype">
    <meta property="og:description" content="A pure HTML and CSS version of the upcoming BikeSpace app.">
    <meta property="og:image" content="/static/icons/media_thumb1.jpg">
    <meta property="og:url" content="http://dav-idcox.com">
    <meta name="twitter:card" content="summary_large_image">

    <meta property="og:site_name" content="BikeSpace visual prototype">
    <meta name="twitter:image:alt" content="The BikeSpace logo with the word HTML over top">

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css"
    integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
    crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js"
    integrity="sha512-/Nsx9X4HebavoBvEBuyp3I7od5tA0UzAxs+j83KgC8PU0kgB4XiK4Lfe4y4cgBtaRJQEIFCW+oC506aPT2L1zw=="
    crossorigin=""></script>
    <script>
        window.ASSETS_PATH = '{% static images %}';
    </script>
</head>

<body id="render" class="backbike">

</body>

<script src="{% static 'main.js' %}"></script>

<script>
        /*if ('serviceWorker' in navigator) {
            navigator.serviceWorker
                .register('/static/sw.js')
                .then(function () { console.log('Service Worker Registered'); });
        }*/
</script>

</html>