{% load staticfiles %}
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>BikeSpace - Home</title>
    <link rel="manifest" href="/static/manifest.json">

    <link type="text/css" rel="stylesheet" media="screen and (min-aspect-ratio: 1/1)" href="/static/css/stylesheet.css" />
    <link type="text/css" rel="stylesheet" media="screen and (max-aspect-ratio: 1/1)" href="/static/css/mobilesheet.css" />
    <link type="text/css" rel="stylesheet" href="/static/css/leaflet.css" />
    <link type="text/css" rel="stylesheet" href="/static/css/leaflet-search.css" />


    <!--favicon-->
    <link rel="icon" type="image/png" href="/static/icons/bikespace32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="/static/icons/bikespace16.png" />

    <!-- META Tags -->
    <meta property="og:title" content="Bikespace">
    <meta property="og:description" content="Report bike parking issues in Toronto.">
    <meta property="og:image" content="/static/icons/media_thumb1.jpg">
    <meta name="twitter:card" content="summary_large_image">

    <meta property="og:site_name" content="BikeSpace visual prototype">
    <meta name="twitter:image:alt" content="The BikeSpace logo with the word HTML over top">

    <link rel="stylesheet" type="text/css" href="https://npmcdn.com/flatpickr/dist/themes/dark.css">

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css" integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
        crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js" integrity="sha512-/Nsx9X4HebavoBvEBuyp3I7od5tA0UzAxs+j83KgC8PU0kgB4XiK4Lfe4y4cgBtaRJQEIFCW+oC506aPT2L1zw=="
        crossorigin=""></script>
    <script>
        window.ASSETS_PATH = '{% static images%}'; // for leaflet and leaflet-search
    </script>
</head>

<body id="render" class="backbike">

</body>

<script src="{% static 'main.js' %}"></script>

<script>
    if ('serviceWorker' in navigator) {
        navigator.serviceWorker
            .register('/static/sw.js')
            .then(function () { console.log('Service Worker Registered'); });
    }
</script>

<!-- Hotjar Tracking Code for app.bikespace.ca -->
<script>
    (function (h, o, t, j, a, r) {
        h.hj = h.hj || function () { (h.hj.q = h.hj.q || []).push(arguments) };
        h._hjSettings = { hjid: 818675, hjsv: 6 };
        a = o.getElementsByTagName('head')[0];
        r = o.createElement('script'); r.async = 1;
        r.src = t + h._hjSettings.hjid + j + h._hjSettings.hjsv;
        a.appendChild(r);
    })(window, document, 'https://static.hotjar.com/c/hotjar-', '.js?sv=');
</script>
<!-- start Mixpanel -->
<script type="text/javascript">(function (e, a) {
        if (!a.__SV) {            
var b = window; try { var c, l, i, j = b.location, g = j.hash; c = function (a, b) { return (l = a.match(RegExp(b + "=([^&]*)"))) ? l[1] : null }; g && c(g, "state") && (i = JSON.parse(decodeURIComponent(c(g, "state"))), "mpeditor" === i.action && (b.sessionStorage.setItem("_mpcehash", g), history.replaceState(i.desiredHash || "", e.title, j.pathname + j.search))) } catch (m) { } var k, h; window.mixpanel = a; a._i = []; a.init = function (b, c, f) {                
function e(b, a) {                    
var c = a.split("."); 2 == c.length && (b = b[c[0]], a = c[1]); b[a] = function () {
                        b.push([a].concat(Array.prototype.slice.call(arguments,
                            0)))
                    }
                } var d = a; "undefined" !== typeof f ? d = a[f] = [] : f = "mixpanel"; d.people = d.people || []; d.toString = function (b) { var a = "mixpanel"; "mixpanel" !== f && (a += "." + f); b || (a += " (stub)"); return a }; d.people.toString = function () { return d.toString(1) + ".people (stub)" }; k = "disable time_event track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config reset people.set people.set_once people.unset people.increment people.append people.union people.track_charge people.clear_charges people.delete_user".split(" ");
                for (h = 0; h < k.length; h++)e(d, k[h]); a._i.push([b, c, f])            
}; a.__SV = 1.2; b = e.createElement("script"); b.type = "text/javascript"; b.async = !0; b.src = "undefined" !== typeof MIXPANEL_CUSTOM_LIB_URL ? MIXPANEL_CUSTOM_LIB_URL : "file:" === e.location.protocol && "//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js".match(/^\/\//) ? "https://cdn.mxpnl.com/libs/mixpanel-2-latest.min.js" : "//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js"; c = e.getElementsByTagName("script")[0]; c.parentNode.insertBefore(b, c)
        }
    })(document, window.mixpanel || []);
    mixpanel.init("ffa1b6105a9532f46215f2bd91b55783");</script>
<!-- end Mixpanel -->

</html>