{% load static %}
{% block nav %}
<nav class="nav nav-pills flex-column flex-sm-row">
       <a class="flex-sm-fill text-sm-center nav-link active" href="#">Login</a>
       <a class="flex-sm-fill text-sm-center nav-link" href="#">Website</a>
       <a class="flex-sm-fill text-sm-center nav-link" href="#">Dashboard</a>
       <a class="flex-sm-fill text-sm-center nav-link disabled" href="#">App</a>
     </nav>
{% endblock %}

{% block title %}

{% block page_title %}
<img src="bikespace/img/BikeSpace_Stacked_Logo.jpg" height="35" width="175">
<h1> BikeSpace Public Report Moderation</h1>
{% endblock %}

{% endblock %}

{% block subtitle %}
<h3>Submitted public reports through app.bikespace.ca</h3>
<p>Moderation process:</p>
<ul>
   <li>Check the location</li>
   <li>Review the comment for language or formatting errors</li>
   <li>Review the image for inappropriate content</li>
   <li>Approve or deny the submission</li>
</ul>
<p>For more information on moderation please refer to the <b><a href="https://docs.google.com/document/d/1YwZQOA_Ac6W0voWPxFipWvgvq9Nt7CNgLxhq9KztvAs/edit?usp=sharing"> BikeSpace moderation policy document.</a></b> For any other issues please email <b><a href="mailto:bikespaceto@gmail.com">bikespaceto@gmail.com</a></b> quoting the report ID in the header.</p>
{% endblock %}

{% block content %}
<!-- !!! -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js"></script>
  <script>
      function submit (id, status)
      {
        var submit =  document.getElementById ('status_' + id)
        submit.value = status;
        document.getElementById("mod_form_" + id).submit()
      }
   </script>
<!-- !!! -->
<link href="{% static 'moderation/moderation.css' %}" rel="stylesheet">
<link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
<!--
    - convert lat/long to intersection with URL clickable to Google Maps for a map rendition
    - convert date to three letter month
    - drop down button
    - combine time and date
-->
<table>
   <colgroup>
    <col width="5%">
    <col width="10%">
    <col width="20%">
    <col width="10%">
    <col width="10%">
    <col width="10%">
    <col width="20%">
    <col width="15%">
   </colgroup>
   <thead>
       <tr><th>ID</th><th>Problem</th><th>Lat/Lon</th><th>Date</th><th>Time</th><th>Picture</th><th>Comment</th><th>Approve</th></tr>
    </thead>
    <tbody>
{% for unapproved_event in unapproved_events %}
   <tr>
   <td>{{ unapproved_event.id }}</td>
   <td>{{ unapproved_event.problem }}</td>
   <td>{{ unapproved_event.location.latitude }} / {{ unapproved_event.location.longitude }}</td>
   <td>{{ unapproved_event.time | date:"d-m-Y" }}</td>
   <td>{{ unapproved_event.time | time:"fA" }}</td>
   <td>
   {% for pic in unapproved_event.pictures %}
    <img src = "{{ pic }}" width="80" height="100">
   {% endfor %}
   </td>
   <td><textarea>{{ unapproved_event.comments }}</textarea></td>

   <!-- look into bootstrap library !!! -->
   <td>
       <form name = 'mod_form_{{unapproved_event.id}}' method = "post">
           {% csrf_token %}
           <input type="hidden" id="event_id" name="event_id" value="{{ unapproved_event.id }}">
           <input type="hidden" id="status_{{unapproved_event.id}}" name="status" value = "OK">
           <!-- <label class="dropdown"> -->
 
            <div class="btn-group">
                <button type="button" class="btn btn-danger" 
                        onclick = "submit ('{{unapproved_event.id}}', 'OK')">Approve</button>
                <button type="button" class="btn btn-danger dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span class="sr-only">Toggle</span>
                </button>
                <div class="dropdown-menu" aria-labelledby="btnDropdownDemo">
                  <a class="dropdown-item" onclick = "submit ('{{unapproved_event.id}}', 'REJECT')">Reject</a>
                  <a class="dropdown-item" onclick = "submit ('{{unapproved_event.id}}', 'DEFER')">Defer</a>
                </div>
              </div>          <!-- </label>           <input type="submit" value="Approve"> -->
       </form>
   </td>
   </tr>
{% endfor %}
</tbody>
</table>
{% endblock %}