{% load static %}
{% block title %}{% block page_title %}Moderation{% endblock %}{% endblock %}
{% block subtitle %}List of events that are yet to be approved{% endblock %}

{% block content %}
<link href="{% static "moderation/moderation.css" %}" rel="stylesheet">
<link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
   <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
<!--
    - convert lat/long to intersection with URL clickable to Google Maps for a map rendition
    - convert date to three letter month
    - drop down button
    - combine time and date
-->
<table>
   <colgroup>
    <col width="5%">
    <col width="10%">
    <col width="20%">
    <col width="10%">
    <col width="10%">
    <col width="10%">
    <col width="20%">
    <col width="15%">
   </colgroup>
   <thead>
       <tr><th>ID</th><th>Problem</th><th>Lat/Lon</th><th>Date</th><th>Time</th><th>Picture</th><th>Comment</th><th>Approve</th></tr>
    </thead>
    <tbody>
{% for unapproved_event in unapproved_events %}
   <tr>
   <td>{{ unapproved_event.id }}</td>
   <td>{{ unapproved_event.problem }}</td>
   <td>{{ unapproved_event.location.latitude }} / {{ unapproved_event.location.longitude }}</td>
   <td>{{ unapproved_event.time | date:"d-m-Y" }}</td>
   <td>{{ unapproved_event.time | time:"fA" }}</td>
   <td>
   {% for pic in unapproved_event.pictures %}
    <img src = "{{ pic }}" width="80" height="100">
   {% endfor %}
   </td>
   <td><textarea>{{ unapproved_event.comments }}</textarea></td>

   <!-- look into bootstrap library !!! -->
   <td>
       <form method="post">
           {% csrf_token %}
           <input type="hidden" id="event_id" name="event_id" value="{{ unapproved_event.id }}">
           <!-- <label class="dropdown"> -->
 
            <div class="approve-button">
              <div class="button-text">Approve</div>
              <div class='drop-down'>&gt;</div>
            </div>
          
            <input type="checkbox" class="dd-input" id="test">
          
            <ul class="dd-menu">
             <li>Reject</li>
            </ul>
            
          <!-- </label>           <input type="submit" value="Approve"> -->
       </form>
   </td>
   </tr>
{% endfor %}
</tbody>
</table>
{% endblock %}