container_commands:
  01_migrate:
    command: "python /opt/python/ondeck/app/manage.py migrate --noinput"
    leader_only: true
option_settings:  
  aws:elasticbeanstalk:application:environment:
    "PYTHONPATH": "/opt/python/ondeck/app/Bicycle_parking:$PYTHONPATH"
  aws:elasticbeanstalk:container:python:
    WSGIPath: "Bicycle_parking/wsgi.py"
  aws:elasticbeanstalk:container:python:staticfiles:
    "/static/": "bicycleparking/static/"
