container_commands:
  01_migrate:
    command: "python Bicycle_parking/manage.py migrate --noinput"

option_settings:  
  aws:elasticbeanstalk:application:environment:
    "PYTHONPATH": "/opt/python/current/app/Bicycle_parking:$PYTHONPATH"
  aws:elasticbeanstalk:container:python:
    WSGIPath: Bicycle_parking/wsgi.py
  aws:elasticbeanstalk:container:python:staticfiles:
    "/static/": "bicycleparking/static/"