container_commands:
  01_migrate:
    command: "source /var/app/venv/*/bin/activate && python3 manage.py migrate --noinput"
    leader_only: true
option_settings:  
  aws:elasticbeanstalk:application:environment:
    "PYTHONPATH": "/opt/python/ondeck/app/Bicycle_parking:$PYTHONPATH"
  aws:elasticbeanstalk:container:python:
    WSGIPath: Bicycle_parking.esgi:application
