*{
    font-family:'opensans';
    font-weight: normal;
    font-style: normal;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
@font-face {
    font-family: 'opensans, sans serif';
    src: url('assets/Open_Sans/OpenSans-Regular.ttf');
    font-weight: thin;
    font-style: normal;
}
@font-face {
    font-family: 'opensans, sans serif';
    src: url('assets/Open_Sans/OpenSans-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'opensans';
    src: url('assets/Open_Sans/OpenSans-SemiBold.ttf');
    font-weight: normal;
}
strong {
    font-family: 'opensans';
    font-weight: bold;
}
em {
    font-family: 'opensans';
    font-size: 5vw;
}

h1 {
    font-weight: bold;
    height: 4vh;
    padding-left: 4vw;
    padding-bottom: 3vh;
    font-size: 6vw;
}
.maintitle {
    font-weight: bold;
    padding-top: 36vh;
    text-align: center;
    color: #fff;
    padding-left: 0vh;
    margin-left: 0vh;
    padding-bottom: 0vh;
    font-size: calc(9vw + 3vh);
}

/*FONT_STYLING___________________________________________________________*/

h2 {
    font-size: 5vw;
    margin-left: 5vw;
    padding-bottom: 2vh;
}
a {
    text-decoration: none;
    color: inherit;
}

.tshadow {
    text-shadow:
        4px 4px 4px #00000099,
        -2px -2px 4px #00000066;
}

.bshadow {
    box-shadow: 4px 4px 4px #00000099;
}

/*___________________________________________________________*/

body {
    background: url('assets/background_images/to_bike_mobile.jpg') 100% / cover;
    background-position: center;
    overflow-x: hidden;
    overflow-y: hidden;
    height: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    margin: auto;
}

/*___________________________________________________________*/

header{
    order: 1;
    position: relative;
    width: 100%;
    max-height: 10%;
    height: 10vh;
    background-color: #fff;
    z-index: 1000;
}

.title {
    background: url(assets/icons/bikespace_header.svg) no-repeat center center;
    background-size: 30vh;
    height: 100%;
    margin: auto;
    width: 30vh;
}

/*ERROR_MESSAGES___________________________________________________________*/

#error {
    position: fixed;
    z-index: 10000;
    width: 100%;
    max-height: 10%;
    height: 10vh;
}


#error h1 {
    font-weight: normal;
    padding-top: 2vh;
    padding-left: 0vh;
    padding-right: 0vh;
    color: #fff;
    text-align: center;
    font-size: calc(20px + 2.5vw);
    line-height: calc(17px + 3.5vw);
}


/*___________________________________________________________*/

.progress{
    width: 3vw;
    margin-left: -1.5vw;
    border-radius: 1.5vw;
    height: 3vw;
    margin-top: 0vw;
}
.prog1 {
    box-shadow:
        0vw 4vw 0px 0px #25c252,
        16vw 4vw 0px 0px #ccc,
        32vw 4vw 0px 0px #ccc,
        48vw 4vw 0px 0px #ccc,
        64vw 4vw 0px 0px #ccc,
        80vw 4vw 0px 0px #ccc; 
}
.prog2 {
    box-shadow:
        0vw 4vw 0px 0px #ccc,
        16vw 4vw 0px 0px #25c252,
        32vw 4vw 0px 0px #ccc,
        48vw 4vw 0px 0px #ccc,
        64vw 4vw 0px 0px #ccc,
        80vw 4vw 0px 0px #ccc; 
}
.prog3 {
    box-shadow:
        0vw 4vw 0px 0px #ccc,
        16vw 4vw 0px 0px #ccc,
        32vw 4vw 0px 0px #25c252,
        48vw 4vw 0px 0px #ccc,
        64vw 4vw 0px 0px #ccc,
        80vw 4vw 0px 0px #ccc; 
}
.prog4 {
    box-shadow:
        0vw 4vw 0px 0px #ccc,
        16vw 4vw 0px 0px #ccc,
        32vw 4vw 0px 0px #ccc,
        48vw 4vw 0px 0px #25c252,
        64vw 4vw 0px 0px #ccc,
        80vw 4vw 0px 0px #ccc; 
}
.prog5 {
    box-shadow:
        0vw 4vw 0px 0px #ccc,
        16vw 4vw 0px 0px #ccc,
        32vw 4vw 0px 0px #ccc,
        48vw 4vw 0px 0px #ccc,
        64vw 4vw 0px 0px #25c252,
        80vw 4vw 0px 0px #ccc; 
}
.prog6 {
    box-shadow:
        0vw 4vw 0px 0px #ccc,
        16vw 4vw 0px 0px #ccc,
        32vw 4vw 0px 0px #ccc,
        48vw 4vw 0px 0px #ccc,
        64vw 4vw 0px 0px #ccc,
        80vw 4vw 0px 0px #25c252; 
}
.progLine {
    position: relative;
    width: 80vw;
    margin: 0vw auto 5vh auto;
    height: 1vw;
    box-shadow: 0vw 5vw 0px 0px #ddd;
}

/*___________________________________________________________*/

.logo {
    height:44vh;
    margin-top: -6vw;
    background: url(assets/icons/logo_main.svg) no-repeat;
    background-size: calc(20vw + 10vh);
    background-position:center
}

.screen1 {
    order: 2;
    margin-left: 2%;
    display: -webkit-flex;
    display: flex;
    max-height: 78%;
    height: 78vh;
    flex-direction: column;
    margin-right: 2%;
    margin-bottom: 2vw;
}
.clear {
    opacity: 0;
}
.visible {
    background-color: #fffffff5;
}


.options {
    list-style: none;
    padding: 2vw;
    background-color: #ddd;
    height: 7vw;
    border-radius: 9vw;
    margin-left: 2vh;
    margin-right: 2vh;
    margin-bottom: 2vh;
}

.options li {
    padding-top: 0vw;
    width: 80vw;
    padding-left: 2vw;
}

.doubleoption {
    position: relative;
    height: calc(11vw+4vh);
}

.doubleoption .options{
    background-color: #fff;
    box-shadow:0px 0px 0px 0.3vw #ccc inset;
}

.cameraButton{
    opacity: 0;
    margin-top: -30vh;
    width: 93%;
    z-index: 1000;
    max-height: 20%;
    height: 20vh;
}

.check {    
    margin-left: auto;
}

.on{
    background: url(assets/icons/check_on.svg) no-repeat;
    background-size: 7vw;
    width:7vw;
    height: 7vw;
    padding-right: 0.1vw;
    margin-top: -6.83vw;
}

.off{
    background: url(assets/icons/check_off.svg) no-repeat;
    background-size: 7vw;
    width:7vw;
    height: 7vw;
    padding-right: 0.1vw;
    margin-top: -6.83vw;
}

.camera{
    background: url(assets/icons/camera.svg) no-repeat;
    background-size: 6vw;
    width:7vw;
    height: 7vw;
    padding-right: 0.5vw;
    margin-top: -5.75vw;
}

.upload{
    background: url(assets/icons/upload.svg) no-repeat;
    background-size: 5vw;
    width:7vw;
    height: 7vw;
    padding-right: 0vw;
    margin-top: -6vw;
}

/*___________________________________________________________*/


/* David Cox: I don't know what this does.

.remove_button {
    position: fixed;
    margin-top: -4vh;
    width: 100%;
    bottom: 7vh;
    left: 50%;
    transform: translateX(-50%)
}*/

.nav {
    order: 3;
    height: 10vh;
    max-height: 10%;
    background-color: #fffffff5;
    margin-left: 2%;
    margin-right: 2%;
}
.back {
    box-shadow: 0px 0px 0px 0.6vw #25c252 inset;
    height: 10vw;
    width: 24vw;
    border-radius: 10vw;
    margin-left: 3vh;
    text-align: center;
    cursor: pointer;
}
.back p {
    margin: auto;
    padding: 1.5vw 4vw 2.5vw 4vw;
    margin-top: -2vw;
    width: 20vw;
    height: 6vw;
    margin-left: -2vw;
    color: #25c252
    
}
.next {
    background: #25c252;
    height: 10vw;
    width: 24vw;
    margin-top: -10vw;
    border-radius: 10vw;
    margin-left: auto;
    margin-right: 3vh;
    text-align: center;
    cursor: pointer;
}
.next p {
    margin: auto;
    padding: 1.5vw 4vw 2.5vw 4vw;
    margin-top: -2vw;
    width: 20vw;
    height: 6vw;
    margin-left: -2vw;
    color: #fff
}

.button {
    background: #25c252;
    height: 6vw;
    width: 70vw;
    padding: 2vw 0vw 2vw 0vw;
    margin: 20vw auto 0vw auto;
    border-radius: 10vw;
    text-align: center;
    cursor: pointer;
}

.button p {
    margin: auto;
    padding: 1.5vw 2vw 2.5vw 2vw;
    margin-top: -2vw;
    height: 6vw;
    margin-left: -2vw;
    color: #fff
}
.removePhoto {
    margin-top: -25vw;
    z-index: -1000;
}
#buttonRed {
    z-index: 10;
}

/*SUMMARY___________________________________________________________*/

.summaryProblem {
    max-height: 30%;
    height: 30vw;
}
.mapSummary {
    float: right;
    width: 50%;
}
.pictureSummary {
    float: left;
    width: 50%;
}
.hidden{
    opacity: 0;    
}

/*PICTURE___________________________________________________________*/

.hiddenPicture{
    opacity: 0 !important;
    height: 0 !important;
    z-index: -1000;
}
.imagepreview {
    padding-left: 2vw;
    padding-right: 2vw;
    margin-top: -17%;
    height: 55vh;
    overflow-y: hidden;
    overflow-x: hidden;
    
}
#picture{
    max-width: 100%;
    margin: auto;
}
.red {
    background-color: #ed145b;
}
#dst-cvs{
    
}
.displayNone {
    display: none;
}

/*MAP___________________________________________________________*/

#map {
    height: 58%;
    margin-left: 2vw;
    margin-right: 2vw;
    background-color: #ddd;
}

/*___________________________________________________________*/

input{
    height: 7vw;
    font-size: 5vw;
    border-radius: 9vw;
    margin-left: 2vh;
    width: 100%;
    margin-right: 2vh;
    margin-bottom: 2vh;
}

.holder{
    background-color: #fff;
    box-shadow:0px 0px 0px 0.3vw #ccc inset;
    list-style: none;
    padding: 2vw;
    height: 7vw;
    border-radius: 9vw;
    margin-left: 2vh;
    margin-right: 2vh;
    margin-bottom: 2vh;
}
#dst-cvs{
    display: none;
}
/*.calendar {
    background: url(assets/icons/calendar.svg) no-repeat;
    background-size: 5vw;
    width:5vw;
    height: 5vw;
    padding-right: 2vw;
    margin-top: -8.5vw;
    margin-left: auto;
    
    margin-right: -20vw;
    cursor: pointer;
}*/

.calendar {
    width: 4.5vw;
    margin-left: auto;
    height: 4vw;
    margin-right: 1vw;
    margin-top: calc(-6vw - 2vh);
    cursor: pointer;
    border: solid 0.4vw #000;
    border-radius: 0.5vw;
}

.calendar::before {
    content: "";
    vertical-align: text-top;
    font-size: 0.8vw;
    padding-right: 0.3vw;
    margin-left: -0.3vw;
    box-shadow:
        1.3vw -0.8vw 0vw #000,
        2.4vw -0.8vw 0vw #000,
        3.5vw -0.8vw 0vw #000;
}
.calendar::after {
    content: "";
    vertical-align: text-top;
    font-size: 0.2vw;
    padding-right: 0.75vw;
    margin-left: -0.75vw;
    box-shadow:
        1.4vw 2.8vw 0vw #000,
        2.6vw 2.8vw 0vw #000,
        3.8vw 2.8vw 0vw #000,
        1.4vw 2vw 0vw #000,
        2.6vw 2vw 0vw #000,
        3.8vw 2vw 0vw #000,
        1.4vw 1.2vw 0vw #000,
        2.6vw 1.2vw 0vw #000,
        3.8vw 1.2vw 0vw #000;
}


/*.clockOld {
    background: url(assets/icons/clock.svg) no-repeat;
    background-size: 5vw;
    width:5vw;
    height: 5vw;
    padding-right: 2vw;
    margin-top: -8.5vw;
    margin-left: auto;
    cursor: pointer;
}*/
.clock {
    width: 4.5vw;
    margin-left: auto;
    height: 4.5vw;
    margin-right: 1vw;
    margin-top: calc(-6vw - 2vh);
    cursor: pointer;
    border: solid 0.4vw #000;
    border-radius: 5vw;
    -webkit-transform: rotate(120deg);
    -moz-transform: rotate(120deg);
    -o-transform: rotate(120deg);
    -ms-transform: rotate(120deg);
    transform: rotate(120deg);
}
.clock::before {
    content: "";
    vertical-align: text-top;
    font-size: 0.1vw;
    padding-right: 2vw;
    margin-left: -2svw;
    box-shadow:
        0.5vw 2.2vw 0vw #000;
}
.clock::after {
    content: "";
    vertical-align: text-top;
    font-size: 0.8vw;
    padding-right: 0.3vw;
    margin-left: -0.3vw;
    box-shadow:
        0.5vw 1.2vw 0vw #000;
    -webkit-transform: rotate(-30deg);
    -moz-transform: rotate(-30deg);
    -o-transform: rotate(50deg);
    -ms-transform: rotate(50deg);
    transform: rotate(50deg);
}

.halved {
    
}
.half1 {
    width: calc(42vw - 4vh);
    margin-bottom: 0vh;
}
.half2 {
    width: calc(42vw - 4vh);
    margin-top: -11vw;
    margin-left: auto;
    margin-bottom: 2vh;
}
.third12 {
    width: calc(44vw - 4vh);
    margin-bottom: 0vh;
    padding-right: 2vh;
}

.third3 {
    width: calc(32vw - 4vh);
    margin-top: -11vw;
    margin-left: auto;
    margin-bottom: 2vh;
    padding-right: 2vh;
}
.noPhoto {
    display: none;
}

.success {
    height: 15vh;
    width: 70vw;
    background-color: #25c252bb;
    background-image: url(assets/icons/success.svg);
    background-position: center 8vh; 
    background-repeat: no-repeat;
    background-size: 6vh;
    margin-left: auto;
    margin-right: auto;
    border-radius: 6vw;
    margin-bottom: -6vh;
}
.success h1 {
    text-align: center;
    color: #fff;
    font-size: 6vh;
    padding-left: 0vw;
}

/*COMMENT_BOXES___________________________________________________________*/

.comments{
    font-weight: thin;
    font-size: 5vw;
    width: 96%;
    height: 50vh;
    padding-left: 2vw;
    padding-right: 2vw;
    padding-bottom: 3vh;
    padding-top: 1vw;
    margin-top: 2vw;
    margin-left: 2%;
    background-color: white;
    border-color: #ccc;
    border-style: solid;
    border-width: 2px;
    border-radius: 0px;
}