*{
    font-family:'opensans';
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'opensans';
    src: url('assets/Open_Sans/OpenSans-Regular.ttf');
    font-weight: thin;
    font-style: normal;
}
@font-face {
    font-family: 'opensans';
    src: url('assets/Open_Sans/OpenSans-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'opensans';
    src: url('assets/Open_Sans/OpenSans-SemiBold.ttf');
    font-style: normal;
}
strong {
    font-family: 'opensans';
    font-weight: bold;
}


/*FONT_STYLING___________________________________________________________*/

h1 {
    font-weight: bold;
    min-height: 20px;
    padding-top: 10px;
    height: 5vh;
    max-height: 40px;
    padding-left: 5px;
    font-size: 1.6rem;
}
h2 {
    font-size: 1.1rem;
    margin-left: 10px;
}
em {
    font-family: 'opensans';
    font-size: 1.1rem;
}
a {
    text-decoration: none;
    color: inherit;
}

.tshadow {
    text-shadow: 4px 4px 4px #00000099;
}

.bshadow {
    box-shadow: 4px 4px 4px #00000099;
}

/*___________________________________________________________*/

body {
    background: url('assets/background_images/to_bike_desktop.jpg') 100% / cover;
    background-position: center;
    overflow-x: hidden;
    margin: auto;
    display: flex;
    justify-content: center;
}

/*___________________________________________________________*/

header{
    width: 100%;
    background-color: #fff;
    margin: auto;
    height: 45px;
}

.title {
    background: url(assets/icons/bikespace_header.svg) no-repeat;
    background-position: center;
    background-size: 150px;
    height: 45px;
    margin: auto;
    width: 200px;
}

/*ERROR_MESSAGES___________________________________________________________*/

#error {
    position: relative;
    z-index: 100;
    padding: 16px 0px 0px 0px;
    margin: -45px auto -80px auto;
    height: 30px;
}

#error h1 {
    margin-top: -22px;
    text-align: center;
    font-weight: normal;
    color: #fff;
}

/*___________________________________________________________*/

.progress{
    width: 16px;
    border-radius: 10px;
    height: 16px;
    margin: -4px auto 0px auto;
}

.prog1 {
    box-shadow: 
        -175px 16px 0px 0px #25c252,
        -105px 16px 0px 0px #ccc,
        -35px 16px 0px 0px #ccc,
        35px 16px 0px 0px #ccc,
        105px 16px 0px 0px #ccc,
        175px 16px 0px 0px #ccc;
}
.prog2 {
    box-shadow: 
        -175px 16px 0px 0px #ccc,
        -105px 16px 0px 0px #25c252,
        -35px 16px 0px 0px #ccc,
        35px 16px 0px 0px #ccc,
        105px 16px 0px 0px #ccc,
        175px 16px 0px 0px #ccc;
}
.prog3 {
    box-shadow: 
        -175px 16px 0px 0px #ccc,
        -105px 16px 0px 0px #ccc,
        -35px 16px 0px 0px #25c252,
        35px 16px 0px 0px #ccc,
        105px 16px 0px 0px #ccc,
        175px 16px 0px 0px #ccc;
}
.prog4 {
    box-shadow: 
        -175px 16px 0px 0px #ccc,
        -105px 16px 0px 0px #ccc,
        -35px 16px 0px 0px #ccc,
        35px 16px 0px 0px #25c252,
        105px 16px 0px 0px #ccc,
        175px 16px 0px 0px #ccc;
}
.prog5 {
    box-shadow: 
        -175px 16px 0px 0px #ccc,
        -105px 16px 0px 0px #ccc,
        -35px 16px 0px 0px #ccc,
        35px 16px 0px 0px #ccc,
        105px 16px 0px 0px #25c252,
        175px 16px 0px 0px #ccc;
}
.prog6 {
    box-shadow: 
        -175px 16px 0px 0px #ccc,
        -105px 16px 0px 0px #ccc,
        -35px 16px 0px 0px #ccc,
        35px 16px 0px 0px #ccc,
        105px 16px 0px 0px #ccc,
        175px 16px 0px 0px #25c252;
}
.progLine {
    position: relative;
    width: 365px;
    margin: 0px auto 30px auto;
    height: 4px;
    box-shadow: 0px 22px 0px 0px #ddd;
}
/*___________________________________________________________*/


.logo {
    margin-left: auto;
    margin-right: auto;
    margin-top: -70px;
    max-height: 300px;
    width: 100%;
    opacity: 1;
    background: url(assets/icons/logo_main.svg) no-repeat;
    background-size: 200px 200px;
    background-position:center
}

.maintitle {
    font-weight: bold;
    padding-top: 250px;
    text-align: center;
    color: #fff;
    margin-left: 0px;
    padding-bottom: 0px;
    font-size: 3.5rem;
}
#btnAdd{
    opacity: 0;
}
/*___________________________________________________________*/
.pageWrapper {
    display: flex;
    width: 100vw;
    margin: auto;
    justify-content: center;
    flex-direction: column;
}

.screen1 {
    padding: 5px 20px 0px 20px;
    border-radius: 0px;
    width: 375px;
    height: 77%;
    max-height: 545px;
    min-height: 445px;
    margin: auto;
    margin-top: 10px;
}
.clear {
    opacity: 0;
}

.visible {
    background-color: #ffffffee;
}

ul {
    margin-left: -40px;
}

.options {
    list-style: none;
    cursor: pointer;
    padding: 13px;
    background: #ddd;
    height: 24px;
    border-radius: 30px;
    margin-bottom: 16px;
}

  
.options li {
    width: 80%;
    padding-left: 10px;
    font-size: 1.1em;
}

.noPhoto {
    display: none;
  }
  
.doubleoption {
    cursor: pointer;
    position: relative;
}

.doubleoption .options{
    background-color: #fff;
    box-shadow:0px 0px 0px 2px #ccc inset;
}

.cameraButton{
    cursor: pointer;
    position: absolute;
    opacity: 0;
    margin-top: -132px;
    width: 100%;
    height: 100%;
}


.check {    
    margin-left: auto;
}

.on{
    background: url(assets/icons/check_on.svg) no-repeat center;
    shape-rendering: geometricPrecision;
    width: 32px;
    margin-top: -28px;
    height: 32px;
    margin-right: -3px;
}

.off{
    background: url(assets/icons/check_off.svg) no-repeat center;
    shape-rendering: geometricPrecision;
    width: 32px;
    margin-top: -28px;
    height: 32px;
    margin-right: -3px;
}

.camera{
    background: url(assets/icons/camera.svg) no-repeat;
    background-size: 28px;
    width:28px;
    height: 28px;
    padding-right: 4px;
    margin-top: -24px;
}

.upload{
    background: url(assets/icons/upload.svg) no-repeat;
    background-size: 24px;
    width: 24px;
    height: 24px;
    padding-right: 6px;
    margin-top: -25px;
}

/*___________________________________________________________*/

footer {
    width: 375px;
}

.nav {
    margin-top: -80px;
    margin-bottom: 10px;
    width: 375px;
    padding: 5px 20px 20px 20px;
    overflow: hidden;
    margin: auto;
    background-color: #ffffffee;
}
.back {
    padding: 13px;
    box-shadow: 0px 0px 0px 3px #25c252 inset;
    height: 24px;
    width: 86px;
    border-radius: 30px;
    text-align: center;
    cursor: pointer;
}
.back p {
    margin: auto;
    width: 86px;
    margin-left: -13px;
    padding: 13px;
    margin-top: -13px;
    color: #25c252;
}
.next {
    padding: 13px;
    margin-left: auto;
    background: #25c252;
    height: 24px;
    width: 86px;
    margin-top: -50px;
    border-radius: 30px;
    text-align: center;
    cursor: pointer;
}
.next p {
    margin: auto;
    width: 86px;
    margin-left: -13px;
    padding: 13px;
    margin-top: -13px;
    color: #fff;
}
.button {
    padding: 13px;
    margin: auto;
    margin-top: 120px;
    margin-bottom: 20px;
    background: #25c252;
    height: 24px;
    width: 240px;
    border-radius: 30px;
    text-align: center;
    cursor: pointer;
}

.button p {
    margin: auto;
    width: 240px;
    margin-left: -13px;
    padding: 13px;
    margin-top: -13px;
    color: #fff;
}

.red {
    background-color: #ed145b;
}

.removePhoto {
    margin-top: 0px;
}

/*SUMMARY___________________________________________________________*/

.titleSummary{
    size: 2vh;
}
.summary{
    margin: 2%;
    height: 60vh;
}
.summaryProblem {
    height: 122px;
  }
.mapSummary {
    float: right;
    width: 50%;
}
.pictureSummary {
    float: left;
    width: 50%;
}
.hidden{
    opacity: 0;
}

/*PICTURE___________________________________________________________*/

.hiddenPicture{
    opacity: 0 !important;
    height: 0 !important;
    display: none;
}
.imagepreview {
    height: 50vh;
    min-height: 292px;
    max-height: 400px;
    overflow-y: hidden;
    overflow-x: hidden;
    width: 100%;
}
#picture{
    width: 100%;
    
}
#dst-cvs{
    display: none;
}

.displayNone {
    display: none;
}

/*MAP___________________________________________________________*/

#map {
    min-height: 320px;
    height: 54vh;
    max-height: 400px;
    background-color: #ddd;
}

/*___________________________________________________________*/

input{
    width: 100%;
    font-size: 1.1em;
    padding: 13px 13px 13px 23px;
    background: #ddd;
    border-radius: 30px;
    margin-bottom: 20px;
    border: none;
    font-style: normal;
    font-size: 1.1em;
    background-color: #fff;
    box-shadow:0px 0px 0px 2px #ccc inset;
    
}

.calendar {
    position: absolute;
    background: url(assets/icons/calendar.svg) no-repeat;
    background-size: 24px;
    width: 24px;
    height: 24px;
    margin-top: -57px;
    margin-left: 332px;
    cursor: pointer;
}
.clock {
    position: absolute;
    background: url(assets/icons/clock.svg) no-repeat;
    background-size: 24px;
    width: 24px;
    height: 24px;
    margin-top: -57px;
    margin-left: 332px;
    cursor: pointer;
}
.half1 {
    width: 150px;
}
.half2 {
    width: 150px;
    margin-top: -66px;
    margin-left: auto;
}
.third12 {
    width: 50%;
    margin-bottom: 0vh;
    padding-right: 2vh;
}

.third3 {
    width: 30%;
    margin-top: -50px;
    margin-left: auto;
    margin-bottom: 2vh;
    padding-right: 2vh;
}
.success {
    height: 120px;
    background-color: #25c252bb;
    background-image: url(assets/icons/success.svg);
    background-position: center 62px; 
    background-repeat: no-repeat;
    background-size: 45px;
    margin-top: -60px;
    margin-left: 60px;
    margin-right: 60px;
    border-radius: 30px;
    margin-bottom: -40px;
}
.success h1 {
    text-align: center;
    color: #fff;
    font-size: 2.5em;
    padding-left: 0px;
    padding-top: 5px;
}

/*COMMENT_BOXES___________________________________________________________*/

.comments{
    width: 100%;
    font-weight: initial;
    height: 50vh;
    padding: 8px 16px 3vh 16px;
    font-size: 1.3rem;
    border-color: #ccc;
    border-style: solid;
    border-width: 2px;
    border-radius: 0px;
}